@font-face {
	font-family: glyphicon;
	src: url(glyphicons-halflings-regular.woff);
} /* Lets you use glyphicons offline. */

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

  .carousel {
  	padding-bottom-bottom: 300px;
  }
}

/**.row {
	margin-top: 20px;
}**/

}

.step {
	text-align: right;
}

#slogans {
	background-color: lightyellow;
	border-top: 5px;
	border-bottom: 5px;
	border-color: black;
	border-style: solid;
}

/**.circle {
	background-color: #C6F5A1;
	height: 100%;
	padding: 10px;
	border-radius:50%;
	font-size:20px;
	line-height:100px;
	text-align:center;
	margin: 30px;
	border: 5px;
	border-color: blue;
	border-style: solid;
	line-height: 150%;
	padding: 0px 20px;
}**/

.circle-big {
	width: 130px;
	height: 130px;
	border-radius: 80px;
	background-color: rgb(169, 169, 233);
	margin-top: 25px;
	margin-bottom: 25px;
}

.circle {
	width: 80px;
	height: 80px;
	border-radius: 80px;
}

.circle-video {
	height: 270px;
	width: 270px;
	border-radius: 135px;
	background-color: rgba(235,235,235,0.75);
	padding-top: 15px;
	padding-right: 40px;
	cursor: pointer;
}

.circle-video:hover {
	background-color: white;
}

.img-video {
	height: 240px;
	width: 240px;
}

.circle h1 {
	padding-top: 20px
}

.navbar {
	background-color: rgba(235,235,235,0.75);
	margin-bottom: -100px;
}

.navbar .navbar-brand {
	font-family: 'Handlee', cursive;
	font-size: 40px;
	margin-top: 10px
}

.navbar .description {
	font-size: 25px;
	padding-left: 120px
}

.navbar h4 {
	margin-top: 30px
}

.navbar li {
	font-family: 'Handlee';
	margin-top: 10px;
	font-size: 20px;
}

.jumbotron-main {
	background-image: url(../images/jumbo-background.jpg);
	background-size: cover;
	padding-top: 250px;
	padding-bottom: 80px
}

.jumbotron-transparent {
	padding: 7px;
	padding-left: px;
	background-color: rgba(255,255,255,0.6);
}

.jumbotron h1 {
	margin-top: -60px;
	margin-left: 20px
}

.jumbotron img {
	margin-left: 20px
}

.jumbotron h3 {
	margin-left: 20px
}

.visible {
	background-color: rgba(255,255,255,0.6);
	border-radius: 25px;
	padding-top: 75px;
	padding-bottom: 10px
}

.steps p {
	margin-top: 40px;
	font-size: 20px;
	padding-bottom: 50px
}

.video {
	text-align: right;
}

#mc_embed_signup {
	background-color: rgba(255,255,255,0.6);
	border-radius: 25px
}

form {
	margin-left: 10px;
	padding: 10px
}

h1 {
	font-family:Handlee;
}

.about {
	margin-top: 50px;
	text-align: center;
}

#email {
	text-align: left;
	margin-bottom: 50px;
	font-size: 20px;
}

.profile {
	margin-top: -10px;
	margin-bottom: 50px;
}

.landing {
	padding-top: 130px;
}

body {
	position: relative;
}

.modal-dialog {
	height: 42.1875vh;
	width: 75vh;
	margin-left: 12.5vw;
	margin-right: 12.5vw;
}

.modal {
	vertical-align: center;
}

#video {
	height: 42.1875vw;
	width: 75vw;
	margin: none;
}

.video-sm {
	width: 90vw;
	margin: auto;
	margin-top: 75px;
}

#videosm {
	width: 90vw;
}

@media (min-width: 768px) {
	.video-sm {
		display: none;
	}
}

@media (max-width: 767px) {
	.circle-big {
		margin-top: 25px;
	}
	
	.jumbotron img {
		margin-left: 0px;
	}

	.video-lg {
		display: none;
	}
}

@media (max-width: 992px) {
	.description {
		display: none;
	}
}

p {
	font-family: 'Imprima', sans-serif;
}

h2 {
	font-family: 'Imprima', sans-serif;
}