@font-face {
	font-family: glyphicon;
	src: url(glyphicons-halflings-regular.woff);
} /* Lets you use glyphicons offline. */

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

  .carousel {
  	padding-bottom-bottom: 300px;
  }
}

/**.row {
	margin-top: 20px;
}**/

.video {
	text-align: center;
}

.step {
	text-align: right;
}

#slogans {
	background-color: lightyellow;
	border-top: 5px;
	border-bottom: 5px;
	border-color: black;
	border-style: solid;

}

/**.circle {
	background-color: #C6F5A1;
	height: 100%;
	padding: 10px;
	border-radius:50%;
	font-size:20px;
	line-height:100px;
	text-align:center;
	margin: 30px;
	border: 5px;
	border-color: blue;
	border-style: solid;
	line-height: 150%;
	padding: 0px 20px;
}**/

.circle {
	width: 80px;
	height: 80px;
	border-radius: 80px;
	background-color: rgb(169, 169, 233);
}

.circle h1 {
	padding-top: 20px
}

.navbar {
	background-color: rgba(235,235,235,0.5)
}

.navbar h1 {
	font-family: 'Handlee', cursive;
}

.jumbotron {
	background-image: url(../images/jumbo-background.jpg);
	padding: 265px;
}