@font-face {
	font-family: glyphicon;
	src: url(glyphicons-halflings-regular.woff);
	} /* Lets you use glyphicons offline. */

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }