.top1 {
	background-color: lightblue;
	border: solid;
	border-bottom: none;
}

.top2 {
	background-color: lightblue;
	border: solid;
	border-top: none;
	margin-bottom: 20px;
}

.mainsearch {
	width: 20cm;
	margin-top: -60cm;
}

.box {
	border: solid;
	padding: 60px;
}

.bodyimg {
	border: solid;
	margin: 30px 0px 30px 30px;
	margin-bottom: none;
}